body {
  background: linear-gradient(#22c1c3, #fdbb2d);
}

line {
  stroke: darkgreen;
}

.titolo{
  text-align: center;
  text-anchor: middle;
  dominant-baseline: middle;
  font-family: Segoe Script, Segoe Script, sans-serif;
  font-size: 60px;
  fill: darkgreen;
}

.paese{
  text-align: center;
  font-style: normal;
  font-family: Segoe Print, Segoe Print, sans-serif;
  font-size: 30px;
  fill: darkgreen;
}

.valore{
  text-align: center;
  text-anchor: middle;
  dominant-baseline: middle;
  font-family: Segoe Print, Segoe Print, sans-serif;
  font-size: 30px;
  fill: crimson;
}
